@page
@using DataLayer.DTOs

@model IndexModel
@{
    ViewData["Title"] = "Портал Дороги России";
}

<header>
    <img src="~/assets/img/Logo.svg" alt="Логотип компании" style="height:100px"/>
    <form>
        <input type="text" class="search-box" placeholder="Введите для поиска..." name="searthTerm" value="@Model.SearchTerm"/>
    </form>
</header>

<h3>Сотрудники</h3>
<div class="scrolling-list">
    <div class="employee-container">
        @if (Model.Employees != null && Model.Employees.Any())
        {
            foreach (var employee in Model.Employees)
            {
                 <div class="employee-card">
                   <p>
                       <strong>@employee.FullName</strong><br />
                        @employee.Position.Name<br />
                        @employee.Email<br />
                        @employee.WorkPhone<br />
                        @employee.Birthday?.ToString("d MMMM")<br />
                        <a href="./QrCode?employeeId=@employee.EmployeeId">💾</a>
                   </p>
                </div>
            }
        }
        else
        {
            <p>Нет сотрудников для отображения</p>
        }
    </div>
</div>

<div class="grid-container">
    <div class="calendar-container">
        <h3>Календарь событий</h3>
        
        <div style="place-items:center;">
            <div class="month-head">
                <a href="?month=prev">&lt;</a>
                <strong>@Model.CalendarViewModel</strong>
                <a href="?month=next">&gt;</a>
            </div>
        </div>
        
        <div class="calendar">
            @await Html.PartialAsync("_CalendarPartial", Model.CalendarViewModel);
        </div>

    </div>


    <div class="events-container">
        <h3>События</h3>
        @if (Model.Events != null && Model.Events.Any())
        {
            foreach (var eventItem in Model.Events)
            {
                <div class="event-card">
                    <p> <strong>@eventItem.Title</strong></p>
                    <p>@eventItem.Description</p>
                    <button class="event-button" data-ics="@eventItem.IcsData">🗓️</button>
                    <p class="event-date">@eventItem.Date.ToShortDateString()</p>
                    <p class="event-author">@eventItem.Author</p>
                </div>
            }
        }
        else
        {
            <p>Нет событий для отображения</p>
        }
    </div>

    <div class="news-container">
        <h3>Новости</h3>
        <div class="news">

       
        @if (Model.News != null && Model.News.Any())
        {
            foreach (var news in Model.News)
            {
                <div class="news-card">
                    <img src="@news.Image" alt="@news.Title" />
                    <p><strong>@news.Title</strong></p>
                    <p>@news.Description</p>
                    <p>@news.PublicationDate.ToShortDateString()</p>
                </div>
            }
        }
        else
        {
            <p>Нет новостей для отображения</p>
        }
        </div>
    </div>
</div>